/**
 * Replace
 */

* {
    -webkit-tap-highlight-color: transparent;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif !important;
}

.navbar {
    border: none;
}

.dropdown-menu li a {
    line-height: 30px;
}

/**
 * Main
 */

.center {
    text-align: center;
}

.about {
    background-color: #008cd6;
    color: #fff;
    padding: 70px 0 20px 0;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}