/**
 * Replace
 */

* {
    -webkit-tap-highlight-color: transparent;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.dropdown-menu li a {
    line-height: 30px;
}

/**
 * Main
 */

.center {
    text-align: center;
}

.about {
    background-color: #008cd6;
    color: #fff;
    padding: 71px 0 20px 0;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}

.circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.panel {
    box-shadow: none;
    -webkit-box-shadow: none;
}

/*.label {*/
/*padding: 10px 30px;*/
/*}*/

.label, .panel, .navbar-toggle, .btn, .panel-heading, .panel-footer {
    border-radius: 0;
}

h3 {
    margin-top: 5px;
}

/*.panel-success {*/
/*border-color: #5cb85c;*/
/*}*/

/*.panel-success > .panel-heading {*/
/*color: #fff;*/
/*background-color: #5cb85c;*/
/*border-color: #5cb85c;*/
/*}*/

/*.panel-warning {*/
/*border-color: #f0ad4e;*/
/*}*/

/*.panel-warning > .panel-heading {*/
/*color: #fff;*/
/*background-color: #f0ad4e;*/
/*border-color: #f0ad4e;*/
/*}*/

.list-group-item-heading {
    margin-bottom: 0;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0;
}

.list-group-item.active1, .list-group-item.active1:focus, .list-group-item.active1:hover {
    z-index: 2;
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.list-group-item.active2, .list-group-item.active2:focus, .list-group-item.active2:hover {
    z-index: 2;
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.list-group span.badge {
    float: right;
}

.list-group-item-text {
    margin-top: 8px;
}

#github {
    display: none;
}
#github .media img {
    width: 65px;
    height: 65px;
}

#member {
    display: none;
}

#member ul, #member li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#member ul {
    margin-right: -10px;
}

#member li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#member .avatar img {
    width: 74px;
    height: 74px;
}

#member .name {
    width: 74px;
    height: 20px;
    overflow: hidden;
    margin-top: 5px;
}